:root{
  --unify: #E7545E;
  --hover: #FF6F61;
  --bg: #F5F5F5;
  --h1: #222222;
  --text: #363636;
  --menstual: #e63946;
  --follicular: #4CC9F0;
  --ovulation: #FFB703;
  --luteal: #9D4EDD;


}
/* DESKTOP */
html{
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    font-family: "Crimson Pro", serif;
    font-weight: 300;
    color: var(--text);
    font-style: normal;
    text-decoration: none;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
}

.nav-logo{
    text-decoration: none;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
    width: 15%;
    display: flex;
    justify-content: center;
    align-content:center;
    color: var(--h1);
}   
.nav-bar{
    background-color: var(--hover);
    width: 60%;
    border-radius: 24px 24px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 24px 0 24px;

}

.nav-link{
    color: var(--h1);
    font-size: x-large;
    font-weight: 600;
    text-decoration: none;
}

.curiosity{
    width: 25%;
    background-color: var(--hover);
    border-radius: 24px 24px 0 0;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 24px
}

.hero-section{
    width: 76.7%;
    background-color: var(--hover);
    margin: 0;
    border-radius: 24px 0 24px 24px;
    font-size: large;
}

.hero-top{
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

#hero-bottom{
    display: flex;
    flex-direction: column;
    align-content: center;  
    justify-content: center;
}

.hero-title{
    display: flex;
    align-items: center;  
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: var(--bg);
    width: 65%;
}

.fire {
    display: flex;
    align-self: center;  
    justify-self: center;
    width: 35%;
}


main .curiosity{
    font-size: large;
    font-weight: 300;
    margin: 0px;
    border-radius:0 0 24px 24px;
}
.text-box {
    margin: 0 24px 24px 24px;
    padding: 16px;
    border-radius:16px;
    background-color: var(--bg);
    display: flex;
    align-self: center;  
    justify-self: center;
}

.curiosity-inner{
    display: flex;
    flex-direction: column;
    align-content: center;  
    justify-content: center;
}

#refresh {
    
    border-radius:16px;
    background-color: var(--bg);
    max-width: fit-content;
}

footer{
    background-color: var(--hover);
    font-family: "Crimson Pro", serif;
    font-weight: 300;
    color: var(--text);
    font-style: normal;
    text-decoration: none;
    padding: 20px;
    border-radius:24px;
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.search {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card { 
    margin-top: 24px;
    border-radius:24px;
    background-color: var(--hover);
    padding: 20px;
    width: 25%;
    display: none;
}

.card p {
    background-color: var(--bg);
    padding: 16px;
    border-radius:16px;
}

.card a {
    width: 100%;
}

.controls {
    width: 100%;
    margin-top: 24px;
    text-align: center;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 24px;
  background: var(--hover);
  color: var(--bg);
  font-size: x-large;
  font-weight: 600;
  box-shadow: 0 4px 8px var(--h1);
}

#search {
  border: none;
  padding: 20px;
  border-radius: 24px;
  background: var(--hover);
  color: var(--bg);
  font-size: large;
  height: fit-content;
  box-shadow: 0 4px 8px var(--h1);

}

.info-phases { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.phase { 
    margin: 0 24px 24px 24px;
    border-radius:24px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--h1);
}



/* ============================== */
/* TABLET*/
@media (max-width: 1080px) {
.nav-bar{
    width: 100%;
    margin: 0 0 0 24px;
}
.curiosity{
    display: none;
}
.hero-section{
    width: 100%;
}
}

/* MOBILE*/
@media (max-width: 940px) {
    
}
/* ============================== */